:root {
    --main-spacing: 8px;
    --main-background-color: 37, 43, 46;
    --main-border-radius: 4px;
}

body {
    padding: 0;
    margin: 0;
}

.hud {
    position: absolute;
    padding: var(--main-spacing);
}

.cameraInfoContainer {
    font-size: larger;
    font-weight: 700;
    z-index: 100;
    margin: 0px;
    background-color: rgba(var(--main-background-color), 0.8);
    border-radius: var(--main-border-radius);
    color: #ffffff;
    padding: var(--main-spacing);
}

.cameraInfoList {
    list-style-type: none;
    padding: var(--main-spacing);
}

.cameraInfoItem {
    opacity: 1;
}

h3 {
    margin: 0px;
}
